= stylesheet_link_tag 'map'

#rooms_game
#cover
#hero_pick
#player1_candidates.candidate_heros
  %div 玩家1
#player2_candidates.candidate_heros
  %div 玩家2
#status_screen
  #round 回合：
  玩家列表：
  #players_list 
#console
%table#map
  - @map.each_with_index do |line, y|
    %tr{:pos => y}
      - line.each_with_index do |e, x|
        %td{:class => e, :pos => x}

#menu.hidden
  %a.attack{:href => "#"} Attack
  %a.skill{:href =>"#"} GeziSkill
  %a.standby{:href =>"#"} Standby

#params
  #current_user_id.hidden= current_user.id
